body {
    background-color: #480445;
    color: grey;
    margin: 0;
    text-align: center;
}
h1, h2, h3, h4 , h5, h6, p, div {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
table {
    background-color: darkslateblue;
	border: 2px solid white;
}
th, td {
    padding: 2px 4px;
}
td {
    border: 1px dotted white;
}
a {
    color: yellow;
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#nav-pages {
    bottom: 0;
    height: 4vw;
    line-height: 3vw;
    padding-bottom: 2vw;
    padding-top: 2vw;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.nav-item-box {
    display: inline-block;
    height: 4vw;
    margin: 0 !important;
    overflow-y: hidden; 
    position: relative;
    width: 10vw;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.nav-item-box::-webkit-scrollbar {
    display: none;
}
.nav-item-box:nth-child(2) {
    overflow-x: hidden;
    width: 50vw;
}
.nav-item {
    background-color: darkslateblue;
    border: .5vw solid black;
    border-radius: 2vw;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 2vw;
    padding: 0;
    margin: 0 .5vw !important;
    width: 8vw;
}
.nav-item.selected {
    background-color: darkblue;
    cursor: default;
}