body {
    background-color: #480445;
    color: grey;
    margin: 0;
    text-align: center;
}
h1, h2, h3, h4 , h5, h6, p, div, td {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
table {
    background-color: darkslateblue;
	border: 2px solid white;
}
th, td {
    padding: 2px 4px;
}
td {
    border: 1px dotted white;
}
a {
    color: yellow;
    text-decoration: none;
}

#main-block {
    margin: 64px auto;
    width: 80vw;
}

.dropdown-list {
    border: 1px solid black;
    display: none;
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
    position: absolute;
}
.dropdown-list>li {
    background-color: white;
    padding: 4px 16px;
    z-index: 1;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

@media only screen and (max-width: 720px) {
    #main-block {
        margin: 48px auto;
        max-width: 95vw;
    }
}
  
@media only screen and (max-width: 480px) {
    #main-block {
        margin: 32px auto;
        max-width: 99vw;
    }
}
