#display {
  background-color: black;
  height: 45vw;
  line-height: 0;
  position: relative;
  width: 100%;
}
#display>video, #display>#poster {
  height: 100%;
}
#display>.controls {
  display: none;
  position: absolute;
  z-index: 2;
}
#display.active>.controls {
  display: block;
}
#time-info {
  background-color: darkgrey;
  bottom: 0;
  color: black;
  font-size: 16px;
  left: 0;
  line-height: 32px;
  height: 32px;
  width: 160px;
}
#time-slider {
  bottom: 0;
  left: 160px;
  height: 32px;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  width: calc(100% - 180px)
}

#play-btn {
  margin: 25% 40%;
  position: absolute;
  width: 20%;
  z-index: 1;
}

#info-table {
  border-radius: 12px;
  color: white;
  margin: 24px auto;
  padding: 12px;
}
#info-table td {
  border: 0;
  padding: 6px;
  text-align: left;
}

#stars-box {
  width: 100%;
  overflow-y: auto;
}

@media only screen and (max-width: 720px) {
  #display {
    height: 53.4375vw;
  }
}

@media only screen and (max-width: 480px) {
  #display {
    height: 55.6875vw;
  }
}
