#search-form {
  margin-top: 32px;
}
#results-table {
  margin: 32px auto;
}
#results-table tr {
  cursor: pointer;
}
#results-table img {
  height: 125px;
}
#results-table td:nth-child(2) {
  min-width: 20vw;
  padding-left: 1vw;
  padding-right: 1vw;
}
#results-table p {
  margin: 0;
  width: 100%;
}
#results-table.movie p:not(.subtitle) {
  font-size: 24px;
}
#results-table.star p:not(.subtitle) {
  font-size: 42px;
}

@media only screen and (max-width: 960px) {
  #results-table.movie p:not(.subtitle) {
    font-size: 22px;
  }
}

@media only screen and (max-width: 840px) {
  #results-table.movie p:not(.subtitle) {
    font-size: 20px;
  }
}

@media only screen and (max-width: 720px) {
  #results-table.movie {
    margin: 32px 4vw;
  }
}

@media only screen and (max-width: 680px) {
  #results-table.movie p:not(.subtitle) {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  #results-table.movie {
    background-color: transparent;
    border: 0;
    margin: 0 4vw;
  }
  #results-table.movie td {
    background-color: darkslateblue;
    display: block;
  }
  #results-table.movie tr:not(first-child) td:first-child {
    margin-top: 32px;
  }
  #results-table.movie img {
    height: auto;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  #results-table {
    margin: 0 auto;
    width: 90vw;
  }
  #results-table.star {
    background-color: transparent;
    border: 0;
  }
  #results-table.star td {
    background-color: darkslateblue;
    display: block;
  }
  #results-table.star p {
    text-align: center;
  }
  #results-table.movie p:not(.subtitle) {
    font-size: 22px;
  }
  #results-table.star tr:not(first-child) td:first-child {
    margin-top: 32px;
  }
  #results-table.star img {
    height: auto;
    width: 100%;
  }
  #results-table.movie p:not(.subtitle) {
    font-size: 14px;
  }
}
