.poster {
    margin: 0 auto 8vw auto;
    width: 100%;
}
.poster>h3 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
.poster img {
    width: 100%;
}
