.poster {
    display: block;
    margin: 8vw auto;
    height: 45vw;
    width: 80vw;
    min-height: 180px;
    min-width: 320px;
    position: relative;
}
.poster>* {
    position: absolute;
    margin: 0;
}
.poster>img.poster {
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.poster>p {
    bottom: 0;
    padding: 1.5vh 3vw;
    font-size: 7vw;
    font-weight: 900;
}
.poster>p:not(.border) {
    color: red;
    -webkit-text-stroke: 0.25vw black;
    z-index: 2;
}
.poster>p.border {
    color: white;
    -webkit-text-stroke: 1.5vw white;
    z-index: 1;
}