.poster {
    margin: 0 auto 8vw auto;
    width: 100%;
}
.poster>.title {
    font-family: cursive;
    font-size: 2vw;
    margin: 0;
    text-align: left;
    width: 100%;
}
.poster img {
    width: 100%;
}

@media only screen and (max-width: 1140px) {
    .poster>.title {
        font-size: 2.5vw;
    }
}

@media only screen and (max-width: 900px) {
    .poster>.title {
        font-size: 3vw;
    }
}

@media only screen and (max-width: 660px) {
    .poster>.title {
        font-size: 3.5vw;
    }
}

@media only screen and (max-width: 420px) {
    .poster>.title {
        font-size: 4vw;
    }
}
